.category_item {
  position: relative;

  img {
    width: 100%;
  }
}

.category_item:nth-child(-n + 3) {
  grid-column: span 2;

  @media (max-width: 1000px) {
    grid-column: span 4;
  }
}

.category_item:nth-child(n + 4) {
  grid-column: span 3;

  @media (max-width: 1000px) {
    grid-column: span 4;
  }
}

@media (max-width: 1000px) {
  .category_item:nth-child(5) {
    grid-column: 3 / span 4;
  }
}

@media (max-width: 490px) {
  .category_item:nth-child(-n + 5) {
    grid-column: span 8;
  }
}

.category_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  padding: 18px;

  .category_name {
    font-size: 14px;
    margin: 0;
    padding-bottom: 6px;
  }

  .category_link {
    color: black;
    text-decoration: none;
    font-size: 12px;
  }

  .category_link:hover {
    color: dimgray;
  }
}
