nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px 10px 40px;
}

.nav_container {
  display: flex;
  align-items: center;
}

.dropdown_menu {
  display: none;
}

.nav_links {
  padding-right: 32px;

  .nav_link {
    font-size: 14px;
    color: dimgray;
    text-decoration: none;
    margin-left: 32px;
  }

  .nav_link:hover {
    color: black;
  }
}

.logo {
  height: 32px;
}

.nav_icon {
  height: 22px;
}

.show {
  display: block;
}

@media (max-width: 490px) {
  .dropdown_menu {
    position: relative;
    display: inline-block;
  }

  .nav_links {
    position: absolute;
    top: 100%;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: max-content;
    padding: 12px 0px;
    margin-top: 8px;

    a {
      color: black;
      padding: 12px;
      text-decoration: none;
      display: block;
      margin: 0px 12px;
    }

    a:hover {
      background-color: #ddd;
    }
  }
}
