.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-right: 10px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  width: 160px;

  &:active {
    color: black;
    background-color: white;
    border: 2px solid black;
  }
}

.sign-with-google-button {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid rgb(78, 77, 77);
  border-left: 3px solid rgb(78, 77, 77);
  background-color: rgb(24, 95, 176);

  &:active {
    background-color: rgb(24, 95, 176);
    color: white;
    border: 3px solid rgb(24, 95, 176);
  }
}

.toggle-button {
  display: none;
  background-color: #643f3f;
  margin-left: auto;
  margin-right: auto;

  // &:hover {
  //   background-color: #643f3f;
  //   color: white;
  //   border: none;
  // }

  @media (max-width: 900px) {
    display: block;
  }
}
