.input-container {
  margin-bottom: 30px;

  label {
    display: block; /* or inline-block */
    margin-bottom: 3px;
    font-size: 12px;
  }

  .input {
    width: 500px;
    padding: 10px;
    background-color: white;
    border: none;
    border-bottom: 1px solid gray;

    @media (max-width: 1270px) {
      width: 300px;
    }

    @media (max-width: 400px) {
      width: 250px;
    }

    &:focus {
      outline: none;
      background-color: rgb(190, 225, 237);
    }
  }
}
